<% layout('base') %>
<h1>Quiz page</h1>
<% if(Object.keys(fullQuiz).length) {  %>
	<h3><%=fullQuiz.name%></h3>
	<% for(ques of fullQuiz.questions) { %>
		<p><%= ques.name %></p>
		<p>a:<input type="checkbox" ><%= ques.a%></p>
		<p>b:<input type="checkbox" ><%= ques.b%></p>
		<p>c:<input type="checkbox" ><%= ques.c%></p>
	<% } %>
<% } else { %>
	<h2>oops! no quiz found</h2>
<% } %>
