<% layout('base') %>
<h1>Quiz page</h1>
<% if(Object.keys(fullQuiz).length) {  %>
	<% if(alreadyAnswered) { %>
		<p>already answered</p>
	<% } %>  
	<h3><%=fullQuiz.name%></h3>
	<form method="post" action="quiz">
		<input type="hidden" name="id" value="<%= fullQuiz._id %>">
		<% for(ques of fullQuiz.questions) { %>
			<p><%= ques.name %></p>
			<p>a <input type="radio" name="answers[<%= ques._id %>]" value="A"><%= ques.a%></p>
			<p>b <input type="radio" name="answers[<%= ques._id %>]" value="B"><%= ques.b%></p>
			<p>c <input type="radio" name="answers[<%= ques._id %>]" value="C"><%= ques.c%></p>
		<% } %>
		<input type="submit" value="answer">
	</form>
<% } else { %>
	<h2>oops! no quiz found</h2>
<% } %>
